.chatParticipents {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatParticipentsHeader {
  display: flex;
  align-items: center;
  padding: calc(var(--spacing) / 2);
  background: var(--primaryBgColor);
  gap: 10px;
  height: 60px;
  justify-content: space-between;
  padding-right: 20px;
}

.chatParticipentsHeader svg {
  font-size: 2rem;
  cursor: pointer;
}

.chatParticipentsHeader p {
  font-size: 1.6rem;
}

.chatParticipentsBody {
  flex: 1;
}

.chatParticipentsBody > p {
  padding: 0 10px;
  margin-top: 10px;
}

.chatParticipentsList {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.chatParticipentsItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chatParticipentsItem {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 1rem;
}

.chatParticipentsItem__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
}

.chatParticipentsItem__img::before {
  content: "";
  position: absolute;
  top: calc(100% - 10px);
  left: calc(100% - 10px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: lightgray;
}

.chatParticipentsItem__img > img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: inherit;
}

.chatParticipentsItem__title {
  font-size: 1.7rem;
}

.chatParticipentsItemOnline::before {
  background: green;
}

.addChatParticipentModal {
  width: 100%;
  min-width: var(--maxElementSize);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chatParticipentsItem__options {
  list-style: none;
  background: var(--secondaryBgColor);
  padding: .8em 0;
  border-radius: .4em;
  display: flex;
  flex-direction: column;
}

.chatParticipentsItem__options > li {
  padding: .3em 1.2em;
  cursor: pointer;
}

.chatParticipentsItem__options > li:hover {
  background: var(--primaryBgColor);
}

.chatParticipentsItemProfileView {
  background: #0D0D0D;
  border-radius: 10px;
  width: 264px;
  max-width: 100%;
  overflow: hidden;
  display: block;
}

.chatParticipentsItemProfileView > img {
  width: 100%;
  height: 110px;
  display: block;
  object-fit: cover;
}

.chatParticipentsItemProfileView > header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: -36px;
}

.chatParticipentsItemProfileView > header > div:first-child {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.chatParticipentsItemProfileView > header > div:first-child > img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chatParticipentsItemProfileView > header > div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chatParticipentsItemProfileView > header > div:last-child > span > svg {
  font-size: 1.4em;
  cursor: pointer;
}

.chatParticipentsItemProfileView > div {
  padding: 20px;
}

.chatParticipentsItemProfileView > div > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.chatParticipentsItemProfileView > div > h6 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #848484;
  margin-top: 13px;
}

.chatParticipentsItemProfileView > div > p {
  background: #141414;
  border-radius: 10px;
  padding: 11px 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 9px;
}